**.vo
**.v.d
**.glob
*.v#
**.cmo
**.cmi
**.cmx
**.null
**/_build
*~
*.v~
*.log
*.aux
*.stackdump
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.ml~
examples.mli
*.gz
**.coq.d
*.vok
*.vos
.lia.cache
output
deps.jpg
deps.dot

.coqdeps.d
Makefile.coq
Makefile.coq.conf
_CoqProject
_CoqPath
lib/
html/
coqdocjs*

tests/extraction/*.ml
tests/extraction/*.mli
examples/io.ml
examples/io.mli
examples/extracted/

*.native
