**.vo
**.v.d
**.glob
*.v#
**.cmo
**.cmi
**.cmx
**.null
**/_build
*~
*.v~
*.log
*.aux
*.stackdump
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.ml~
examples.mli
*.mli
*.gz
output
deps.jpg
deps.dot

.coqdeps.d
Makefile.coq
Makefile.coq.conf
_CoqProject
_CoqPath
lib/
