.github::after {
  display: inline-flex;
  content: '';
  vertical-align: middle;
  margin-left: 0.5em;
  background-image: url('github.svg');
  background-size: 1.3em 1.3em;
  height: 1.3em;
  width: 1.3em;
}

.pub-title > a {
  text-decoration: none;
  font-weight: bold;
}

.pub-paper::after {
  content: '🖹';
  vertical-align: middle;
  margin-left: 0.3em;
  font-size: 1.2em;
}

.level-2 {
  margin-left: 2em;
}

li {
  margin-bottom: 0.7em;
}
